


@keyframes loop {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

/* Ensure animation runs by default */
.loop-slider .inner {
  display: flex;
  width: fit-content;
  animation-play-state: running;
  animation: loop var(--duration) linear infinite;
  pointer-events: auto;
  /* Ensure hover events are allowed */
}

/* Pauses animation when hovering over the slider container */
.loop-slider:hover .inner {
  animation-play-state: paused;
}


.scroll-container {
  width: 300px;
  height: 500px;
  overflow-y: hidden;
  position: relative;
}

.scroll-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}




h1{
  font-family: Rob;
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-top: 20px;
}



.bgblue {
  background: linear-gradient(135deg, #fffffff5, #3a4b8a, #ffffff98);
  padding: 1px;
  border-radius: 1.2rem;
  box-shadow: 0px 1rem 1.5rem -0.9rem #000000e1;
  max-width: 300px;
}

.card {
  font-size: 1rem;
  color: #bec4cf;
  background: linear-gradient(135deg, #0d1120 0%, #3a4b8a 43%, #0d1120 100%);
  padding: 1.5rem;
  border-radius: 1.2rem;
}
